#header{
    background-color: #EEEEEE;
    text-align: center;
}

#container{
    position: absolute;
    width: 1100px;
    border-bottom: 0px;
    font-family: sans-serif;
}

#Navigation{
    float: left;
    border-style: solid;
    border-color: lightgrey;
}

#maincontent{
    position: relative;
    clear: both;
    left :300px;
    bottom: 300px;
    border-style: dot-dash;
    border-color: lightgrey;
}

p{
    position: relative;
    left : 420px;
    bottom: 200px;

}

#footer{
    margin-bottom: 0px;
}

a{
    text-decoration: none;
}

#form{
    position: relative;
    float: left;
    right:200px;
    top: 250px;

}