h1, h2, p{
    margin: 0;
    padding: 0;
}



#header{
    background-color: #EEEEEE;
    text-align: center;
    padding: 20px 0;
}

#container{
    position: absolute;
    max-width: 1100px;
    padding: 0 25px;
    margin: 0 auto;
    font-family: "Times New Roman", sans-serif;
}

#Navigation{
    float: left;
    width: 270px;
    border-style: solid;
    border-color: lightgrey;
    margin: 0;
    padding: 0;
}

#maincontent{
    position: relative;
    width: 800px;
    clear: both;
    left :300px;
    bottom: 300px;
    padding: 20px 50px 0px 100px ;
}

p{
    position: relative;
    left : 420px;
    bottom: 200px;
    margin: 0px;

}

#footer{
    margin-bottom: 0px;
}

a{
    text-decoration: none;
}

#form{
    position: relative;
    float: left;
    right:200px;
    top: 250px;

}
#article1{
    position: relative;
    border: 1px solid lightgrey;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width:959px) {
    #container{
        width: 100%;
    }
    #Navigation{
        width: 30%;
    }
    #maincontent{
        width: 70%;
    }
    img{
        width: 100%;
    }
    p{
        width: 100%;
    }
}

@media screen and (max-width:620px){
    #Navigation{
        width: 100%;
    }
    #maincontent{
        width: 100%;
        left :0;
        top:100px;
        right: 300px;
    }

}